# Ignore IDE files
.idea/

# Ignore macOS system files
.DS_Store

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.userprefs
AdoSamples.sln.DotSettings.user

# Ignore build directories
bin/
obj/
